!! Default colors: roman-dark colorscheme

#define C_black         #2c2c2c
#define C_red           #ff3936
#define C_green         #7da214
#define C_yellow        #f0dfaf
#define C_blue          #9ab8d7
#define C_magenta       #dc8cc3
#define C_cyan          #268bd2
#define C_white         #fdf6e3
#define C_bold_black    #2c2c2c
#define C_bold_red      #ff3936
#define C_bold_green    #7da214
#define C_bold_yellow   #f0dfaf
#define C_bold_blue     #9ab8d7
#define C_bold_magenta  #dc8cc3
#define C_bold_cyan     #268bd2
#define C_bold_white    #fdf6e3

#define C_background    #222222
#define C_foreground    #fdf6e3

!! system colors
*background:            C_background
*foreground:            C_foreground
*cursorColor:           C_foreground
*pointerColorBackground:C_bold_cyan
*pointerColorForeground:C_bold_green

!! colors dark/light
*color0:                C_black
*color1:                C_red
*color2:                C_green
*color3:                C_yellow
*color4:                C_blue
*color5:                C_magenta
*color6:                C_cyan
*color7:                C_white
*color8:                C_bold_black
*color9:                C_bold_red
*color10:               C_bold_green
*color11:               C_bold_yellow
*color12:               C_bold_blue
*color13:               C_bold_magenta
*color14:               C_bold_cyan
*color15:               C_bold_white

!! XTerm terminal
XTerm*termName: xterm-256color
XTerm*boldColors: false
xterm*background: C_background
xterm*foreground: C_foreground
xterm*cursorColor: C_foreground
XTerm*charClass: 45-47:48, 64:48, 126:48
XTerm*cutNewline: true
XTerm*cutToBeginningOfLine: true
XTerm*faceName: DejaVu Sans Mono for Powerline
XTerm*faceSize: 12
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*rightScrollBar: true
XTerm*bellIsUrgent: true
XTerm*geometry: 100x30
XTerm*disallowedWindowOps: 20,21,SetXprop
XTerm*saveLines: 4096
!! Fix the backspace key
XTerm.vt100.backarrowKey: false
XTerm.ttyModes: erase ^?

!! UXTerm terminal
UXTerm*faceName: DejaVu Sans Mono for Powerline
UXTerm*faceSize: 12

!! uxterm terminal
URxvt*termName: xterm-256color
URxvt*geometry: 100x30
!!URxvt*loginShell: true
URxvt*background: C_background
URxvt*foreground: C_foreground
URxvt*scrollColor: C_bold_blue
URxvt*troughColor: C_bold_yellow
URxvt*borderColor: C_bold_green
URxvt*dynamicColors: on
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*secondaryScreen: true
URxvt*secondaryScroll: false
URxvt*skipScroll: false
URxvt*scrollBar: false
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: false
URxvt*utmpInhibit: false
URxvt*urgentOnBell: true
URxvt*visualBell: false
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: true
URxvt*font: xft:DejaVu\ Sans\ Mono\ for\ Powerline:pixelsize=12
!URxvt*boldFont: xft:DejaVu Sans Mono for Powerline:bold:autohint=true:pixelsize=12
!URxvt*italicFont: xft:DejaVu Sans Mono for Powerline:italic:autohint=true:pixelsize=12
!URxvt*boldItalicFont: xft:DejaVu Sans Mono for Powerline:bold:italic:autohint=true:pixelsize=12
URxvt*saveLines: 4096
URxvt*buffered: true
URxvt*hold: false
URxvt*internalBorder:
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*perl-ext-common:
URxvt*perl-ext:

